@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*
{
   margin: 0px;
   padding: 0px;

}
.container
{
   height: 100vh;
   width: 100vw;
}
#header
{
   background: url(/img/burger-head.jpg);
   background-size: cover;
   margin: auto;
   margin-top: 30px;
   height: 90vh;
   width: 90vw;
}
#header .content
{
   position: relative;
   padding-top:12rem;
   padding-left: 4rem;
   display: flex;
   flex-direction: column;
}
#header .content .food-logo
{
   position: relative;
 height: 40px;
 width:40px ;
 margin-bottom: 13rem;
 margin-top: -136px;

}
#header .content .deliver-header
{
   color: white;
   text-transform: uppercase;
   letter-spacing: 8px;
   font-size: 2rem;
   font-family: 'Oswald', sans-serif;
   
   
}
#header .content p
{
   margin-top: 10px;
   color: white;  
   letter-spacing: 2px;
   font-size: 1.3rem;
}

#header .content button
{
   margin-top: 38px;
   height: 31px;
   border: none;
   border-radius: 10px;
   background-color: #f3c037;
   color: white;
   text-align: center;
   align-items: center;
   text-transform: uppercase;
   letter-spacing: 1px;
   width: 131px;
   
}
#header .content button:hover
{
   color: #f3c037;
   background-color: white;
   transition: 1s ease background-color,color;
   font-weight: bold;
   cursor: pointer;
}
/* hero section ends here */
/* intro section starts here */
#intro
{
   margin: 0px;
   padding: 0px;
   height: 100vh;
   width: 100vw;
}

#intro .container
{
   position: absolute;
   display: flex;
   flex-direction: row;
   margin-left:51px;
   margin-top: 72px;
}
#intro .container .pizzamage img
{
   height: 100vh;
   width: 50vw;
}
#intro .content 
{
   margin-left: 44px;
   position: relative;
   height: 100vh;
   margin-top: 8rem;
}
#intro .content h2
{
   text-transform: uppercase;
   letter-spacing: 4px;
   font-size: 3rem;
   font-family: 'Roboto Slab', serif;
   
}
#intro .content .stars
{
   position: relative;
   display: flex;
}
#intro .content .star
{
   margin-top: 20px;
   margin-left: 3rem;
}
#intro .content .para{
font-family: 'Ubuntu Condensed', sans-serif;
font-size: 20px;
text-align: justify;
word-spacing: 3px;
margin-right: 50px;
padding-right: 50px;
line-height: 40px;
margin-top: 20px;
}
#intro .content .icons
{
   display: flex;
   position: relative;
   flex-direction: row;
   
   justify-content: center;
   align-items: center;
   margin-top: 34px;
    margin-right: 162px;
}
#intro .content .icon
{
   margin-left: 86px;
   text-align: center;
}
#intro .content .icon p
{
   font-family: 'Ubuntu Condensed', sans-serif;
   text-transform: capitalize;
}
#products
{
   margin-top: 8rem;
   height: 100vh;
   width: 100vw;
   position: absolute;
   z-index: 1;
}
#products .content
{
   display: flex;
   flex-direction: row;
}
#products .product
{
   position: relative;
   margin: 4px 47px 4px 47px;
   display: flex;
   flex-direction: column;
}
#products .product .prod-img img
{
   height: 326px;
   width: 326px;
   border: none;
   border-radius: 2px;
   transition: .7s all ease;
}
#products .product .prod-img img:hover
{
   height: 350px;
   width: 328px;
}

#products .product .price
{
   font-family: 'Oswald', sans-serif; 
   font-size: 3rem;
   text-transform: capitalize;
}
#products .product .price span
{
   color: #f3c037;

}
#products .product .name{
   
   font-family: 'Ubuntu Condensed', sans-serif;
   font-size: 2.6rem;
   margin-bottom: 4px;
   letter-spacing: 2px;
}
#products .product .desc{
   font-family: 'Open Sans', sans-serif;
   letter-spacing: 1px;
   word-spacing: 4px;
   text-align: justify;
   transition: all .7s ease;
}
#products .add:hover
{
   color: #f3c037;
   background-color: white;
   transition: .6s all ease;
}
#products  .add{
   cursor: pointer;
   font-size: 2.5rem;
   height: 69px;
   width: 69px;
   text-align: center;
   align-items: center;
   color: white;
   background-color: #f3c037;
   border-radius: 50px;
   margin-bottom: 16px;
   margin-top: 9px;
   cursor: pointer;
   
}

/* product section ends here */

/* offer section starts here */
#offers
{
   height: 100vh;
   width: 100vw;
   margin: 0;
   padding: 0%;
   position: absolute;
   z-index: 1;
   /* background: #f05945; */
   
}
#offers .container
{
   
   margin-top: 57rem;
   position: absolute;
   display: flex;
   flex-direction: row;
   height: 80vh;
   width: 100vw;
}

#offers .left .title h2{
   color: white;
   text-shadow: white;
   font-family: 'Open Sans', sans-serif;
   outline: white;
   font-size: 3rem;
   margin-left: 60px;
   line-height: 0px;
   
   text-transform: capitalize;
   transition: ease 1s padding-top;
   /* padding-top: 4rem; */
}
#offers .left:hover .title h2{
   /* line-height: 7rem; */
   padding-top: 4rem;
}
#offers .left .title span
{
   margin-right: 100px;
   margin-top: -40px;
   color: white;
   text-shadow: white;
   font-family: 'Open Sans', sans-serif;
   outline: white;
   text-transform: capitalize;
   font-size: 3rem;
}
#offers .left .desc
{
   color: #ff1f5a;
   text-transform: capitalize;
   font-size: 2rem;
padding-top: 16vh;
line-height: 29rem;
transition: ease 1s line-height;
}
#offers .left:hover .desc
{
   line-height: 0rem;
}
#offers .info
{
  padding-top: 6vh;
  transition: all 1s ease;
}
#offers .centre
{
   align-items: center;
   position: relative;
   justify-content: center;
   margin: auto;
   text-align: center;
}
#offers .right
{
   align-items: center;
   position: relative;
   justify-content: center;
   margin: auto;
   text-align: center;
}
#offers .left .img{
background: url(/img/ulvi-safari-1rCjpJ6GFXw-unsplash.jpg);
background-size: cover;
height: 90vh;
width: 25vw;
margin-left: 25px;
border-radius: 2px;

}
#offers .centre .img{
background: url(/img/brooke-lark-GJMlSBS0FhU-unsplash.jpg);
background-size: cover;
margin-left: 25px;

height: 90vh;
width: 45vw;
border-radius: 2px;

}
#offers .centre
{
   align-items: center;
   justify-content: center;
}
#offers .centre .info{
   transition: none;
   padding-top: 31vh;
}
#offers .centre .info .title
{
   text-transform: uppercase;
   letter-spacing: 1.4rem;
   font-size: 2rem;
   font-weight: bold;
   font-family: 'Roboto Slab', serif;
   line-height: 4rem;
   transition: .6s ease letter-spacing,text-transform;
}
#offers .centre:hover .info .title
{
   letter-spacing: 1rem;
   
   /* text-transform: capitalize; */
}

#offers .centre .info .offer
{
   text-transform: capitalize;
   font-family: 'Ubuntu Condensed', sans-serif;
   font-size: 4rem;
   letter-spacing: 1rem;
   font-weight: 600;
   transition: .7s ease letter-spacing;
}
#offers .centre:hover .info .offer
{
   letter-spacing: 1.5rem;
}

#offers .centre .info .span
{
   font-size: 1.5rem;
   line-height: 5rem;
   text-decoration: underline;
 line-height: 19rem;
 color: #60435F;
 cursor: pointer;
}
#offers .right .img
{
   background: url(/img/megan-markham-rh0YhbINkF4-unsplash.jpg);
   background-size: cover;
   height: 90vh;
   margin-left: 25px;
   border: none;
   border-radius: 2px;
   width: 25vw;
}

#offers .right .info
{
   padding-top: 20vh;
   transition: none;
   
}
#offers .right .info .heading
{
   font-size: 4rem;
   color: #f3c037;
   letter-spacing: .5rem;
   font-family: 'Noto Sans JP', sans-serif;
}
#offers .right .info .desc
{
   font-size: 1.3rem;
   line-height: 38rem;
   color: #f05945;
   font-family: 'Noto Sans JP', sans-serif;
   letter-spacing: .5rem;
   text-transform: capitalize;
   transition: .7s ease line-height;
   
}
#offers .right:hover .info .desc
{
   line-height: 2rem;

}

/* Offers section ends here */
#product-icons
{
   margin: 0;
   padding: 0;
   margin-top: 254vh;
   /* background: #f05945; */
   margin-bottom: 0;
}
#product-icons .icons
{
   margin: 0px 70px 0px 70px;
   position: relative;
   justify-content: space-between;
   align-items: center;
   display: flex;
   text-align: center;
   text-transform: capitalize;
   letter-spacing: .2rem;
   font-family: 'Roboto Slab', serif;
   
   
}
#product-icons .icons img,h3{
   cursor: pointer;
}
#product-icons .burger img 
{
   height: 90px;
  
}
#product-icons .pizza img 
{
   height: 90px;
  
}
#product-icons .drink img 
{
   height: 90px;
  
}
#product-icons .pasta img 
{
   height: 90px;
 
}
#product-icons .soup img 
{
   height: 90px;
   
}
#product-icons{
   height: 33vh;
   z-index:auto;
} 
/* product-icons section ends here */

/* lightslider section start  here */
a{
	text-decoration:none;
}
.box{
	width:300px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border-radius: 10px;
	overflow: hidden;
	margin: 25px;
}
.slide-img{
	height: 450px;
	position:relative;
}
.slide-img img{
	width:100%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
}
.detail-box{
	width: 100%;
display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-sizing: border-box;
	font-family: calibri;
}
.type{
	display: flex;
	flex-direction: column;
}
.type a{
	color:#f05945;
	margin: 5px 0px;
	font-weight: 700;
	letter-spacing: 0.5px;
	padding-right: 8px;
}
.type span{
	color:rgba(26,26,26,0.5);
}
.price{
	color: #333333;
	font-weight: 600;
	font-size: 1.1rem;
	font-family: poppins;
	letter-spacing: 0.5px;
}
.overlay{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width:100%;
	height: 100%;
	background-color: rgba(247, 237, 104, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
}
.buy-btn{
	width:160px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	color:#252525;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: calibri;
	border-radius: 20px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.buy-btn:hover{
	color:#FFFFFF;
	background-color: #f15fa3;
	transition: all ease 0.3s;
}
.overlay{
	visibility: hidden;
}
.slide-img:hover .overlay{
	visibility: visible;
	animation:fade 0.5s;
}
 
@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.slider{
	width:100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* lightslider ends here */
/* contact page starts here */